<div class="feedPostHeader">
  <h2 class="feedPostTitle">
    <%= post.title %>
  </h2>
  <% if user_signed_in? %>
    <p class="author">
      Author: <%= post.user.username %>
    </p>
  <% else %>
    <p class="author"><i>Sign in to see who wrote this post!</i></p>
  <% end %>
</div>
<div class="feedPostBody">
  <p class="feedPostText">
    <%= post.text %>
  </p>
</div>
<%=link_to "See more", post %>

