<div class="feedPostHeader">
  <h2 class="feedPostTitle">
    <%= post.title %>
  </h2>
  <p>
    Author: @boydjc
  </p>
</div>
<div class="feedPostBody">
  <p class="feedPostText">
    <%= post.text %>
  </p>
</div>
<%=link_to "See more", post %>

