/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
*   Color palette
*   https://coolors.co/264653-2a9d8f-e9c46a-648de5-e76f51
*   
*   264653 - Charcoal
*   2A9D8F - Persian Green
*   E9C46A - Maize Crayola
*   648de5 - Cornflower Blue
*   E76F51 - Burnt Sienna
*/

body {
    background-color:  #264653;
    color:  #FFF;
    display:  grid;
    grid-tempalte-rows: 1fr 3fr 1fr;
}

#header {
    display:  flex;
    justify-content:  space-between;
    align-items:  center;
    padding:  2rem;
}

#header a {
    text-decoration: none;
    font-size:  1.5rem;
}

 
/* For debug */
/*body > div {
    border:  2px solid yellow;
}*/

body a {
    color:  #E9C46A;
}

#siteName {
    color: #648de5;
    font-size:  2.7rem;
}

#footer {
    display:  flex;
    justify-content: center;
    align-items: center;
}