/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
*   Color palette
*   https://coolors.co/264653-2a9d8f-e9c46a-afffaf-e76f51-27fb6b
*   
*   264653 - Charcoal
*   2A9D8F - Persian Green
*   E9C46A - Maize Crayola
*   #AFFFAF - Mint Green
*   #27FB6B - spring green
*   #E76F51 - Burnt sienna
*/

* {
    margin:  0;
    padding:  0;
}

body {
    background-color:  #264653;
    color:  #FFF;
    display:  grid;
    grid-template-rows: auto 1fr auto;
}

@keyframes noticeAlertSlideIn{
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    15.5% {
        transform: translateY(50px);
        opacity: 0.8;
    }

    37.5% {
        transform: translateY(50px);
        opacity: 0.8;
    }

    62.5% {
        transform: translateY(50px);
        opacity: 0.8;
    }

    85.5% {
        transform: translateY(50px);
        opacity: 0.8;
    }

    100% {
        transform:  translateY(-50px);
        opacity: 0;
    }
}

.notice {
    position: absolute;
    top: -50px;
    width: 100%;
    display: flex;
    background-color: #27FB6B;
    color: #264652;
    align-items: center;
    padding: 1rem;
    animation-name: noticeAlertSlideIn;
    animation-duration: 4s;
    animation-direction: forwards;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
    opacity: 0;
}

.alert {
    position: absolute;
    top: -50px;
    width: 100%;
    display: flex;
    background-color: #E76F51;
    color: #264652;
    align-items: center;
    padding: 1rem;
    animation-name: noticeAlertSlideIn;
    animation-duration: 4s;
    animation-direction: forwards;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}

#header {
    display: flex;
    padding: 2rem;
    border-bottom: 2px solid #2A9D8F;
    box-shadow: 2px 4px 9px -2px #000;
    flex-flow:  row wrap;
    justify-content: space-between;
    gap: 5rem;
}

#header h1 {
    text-align: center;
    align-self: center;
}

#header h1 a {
    font-size:  5rem;
    color: #AFFFAF;
    text-shadow: -3px 3px #000;
    text-decoration: none;
}

#navBar a, #navBar p {
    text-decoration: none;
    font-size:  2rem;
}

#navBar {
    display:  flex;
    justify-content: center;
    align-items:  flex-end;
    gap:  5rem;
    text-align: center;
}

body a {
    color:  #E9C46A;
}

#mainContent {
    display:  flex;
    flex-flow: row wrap;
}

#footer {
    display:  flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000;
    justify-self: bottom;
    padding: 2rem;
}