/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {

    --light-color-white: #F4F4F4;
    --light-color-blue: #235789; /* blue */
    --light-color-red:  #C1292E; /* red */
    --light-color-yellow: #F1D302; /* yellow */
    --light-color-black: #161925; /* black */

}


* {
    margin:  0;
    padding:  0;
}

body {
    background-color:  var(--light-color-white);
    color:  var(--light-color-black);
    display:  grid;
    grid-template-rows: auto 1fr auto;
}

@keyframes noticeAlertSlideIn{
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    15.5% {
        transform: translateY(50px);
        opacity: 0.8;
    }

    37.5% {
        transform: translateY(50px);
        opacity: 0.8;
    }

    62.5% {
        transform: translateY(50px);
        opacity: 0.8;
    }

    85.5% {
        transform: translateY(50px);
        opacity: 0.8;
    }

    100% {
        transform:  translateY(-50px);
        opacity: 0;
    }
}

.notice {
    position: absolute;
    top: -50px;
    width: 100%;
    display: flex;
    background-color: var(--light-color-blue);
    color: var(--light-color-white);
    align-items: center;
    padding: 1rem;
    animation-name: noticeAlertSlideIn;
    animation-duration: 4s;
    animation-direction: forwards;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
    opacity: 0;
}

.alert {
    position: absolute;
    top: -50px;
    width: 100%;
    display: flex;
    background-color: var(--light-color-red);
    color: var(--light-color-white);
    align-items: center;
    padding: 1rem;
    animation-name: noticeAlertSlideIn;
    animation-duration: 4s;
    animation-direction: forwards;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}

#header {
    display: flex;
    padding: 2rem;
    border-bottom: 2px solid var(--light-color-black);
    box-shadow: 2px 4px 9px -2px var(--light-color-black);
    flex-flow:  row wrap;
    justify-content: space-between;
    gap: 5rem;
}

#header h1 {
    text-align: center;
    align-self: center;
}

#header h1 a {
    font-size:  5rem;
    color: var(--light-color-blue);
    text-decoration: none;
}

#navBar a, #navBar p {
    text-decoration: none;
    font-size:  2rem;
}

#navBar {
    display:  flex;
    justify-content: center;
    align-items:  flex-end;
    gap:  5rem;
    text-align: center;
}

body a {
    color:  var(--light-color-red);
    text-decoration: none;
}

#mainContent {
    display:  flex;
    flex-flow: row wrap;
}

#footer {
    display:  flex;
    justify-content: center;
    align-items: center;
    justify-self: bottom;
    padding: 2rem;
}