#showContainer {
	display: flex;
	flex-direction: column;
	padding: 3rem;
	gap: 2rem;
	flex: 1;
}

#postTitleContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#postTitleContainer h1 {
	font-size: 3rem;
}

#postTitleContainer p {
	font-size: 1.2rem;
}

#postMoreInfoContainer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 1.2rem;
}

#postBodyContainer p {
	font-size: 1.2rem;
	white-space: break-spaces;
}

#postLinksContainer {
	display: flex;
	justify-content: space-between;
}

#postLinksContainer button {
	font-size: 1.2rem;
}

#postEditDeleteContainer {
	display: flex;
	gap: 1rem;
	justify-content: center;
}

#showContainer a {
	font-size: 1.2rem;
}

#author {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

#author img {
	border-radius: 50%;
	height: 48px;
	width: 48px;
}