#editContainer {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	flex: 1;
}

#editContainer h1 {
	font-size: 2.3rem;
}

#editPostForm form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

#editPostForm form div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#editPostForm form div label {
	font-size: 1.5rem;
}

#editPostForm form div input[type="text"] {
	width: 50%;
}

#editPostForm form div input[type="text"], #editPostForm form div textarea {
	font-size: 1.2rem;
}

#editPostForm form div textarea {
	resize: none;
	height: 250px;
	width: 50%;
	padding: 0.2rem;
	white-space: break-spaces;
}

#editPostForm form input[type="submit"] {
	font-size: 1.3rem;
	color: var(--color-scheme-three);
    background-color: var(--color-scheme-one);
    border: 2px solid black;
    padding: 0.5rem;
    box-shadow: 0px 2px 0px #000;
    border-radius: 10px;
    transition: box-shadow 0.3s, transform 0.3s;
	width: 150px;
}

#editPostForm form input[type="submit"]:hover {
	cursor: pointer;
    box-shadow: none;
    transform: translateY(3px);
}