#newPostFormContainer {
	border:  2px solid var(--color-scheme-five);
	border-radius: 20px;
	background-color:  var(--color-scheme-four);
	box-shadow: 1px 1px 3px 1px var(--color-scheme-five);
	padding: 2rem;
	position: fixed;
	margin-right: auto;
	margin-left: auto;
	top: 0px;
	right: 0px;
	left: 0px;
	width: 45%;
	flex-direction: column;
	gap: 2rem;
}

@keyframes fadeAppearFromTop {
	from {
		top: 0px;
		opacity: 0;
	}

	to {
		top: 80px;
		opacity: 1;
	}

}

.formShow {
	animation-name: fadeAppearFromTop;
	animation-duration: 0.7s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	display: flex;
}

.formHide {
	display: none;
}

#newPostFormHeader {
	display: flex;
	justify-content: space-between;
}

#newPostCloseLink {
	text-decoration: none;
	font-size: 2rem;
	color: var(--color-template-five);
}

#new_post {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

#new_post .input {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#new_post .input input[type="text"], #new_post .input textarea {
	font-size: 1.2rem;
	height: 30px;
	width: 300px;
	border: 2px solid var(--color-scheme-two);
	box-shadow: 0px 1px 3px var(--color-scheme-two);
}

#new_post .input input[type="text"]:focus, #new_post .input textarea:focus {
	outline: none;
	border: 2px solid var(--color-scheme-five);
}

#new_post .input textarea {
	resize: none;
	height: 150px;
	width: 100%;
}

#new_post .input label {
	font-size: 1.5rem;
	font-weight: bold;
}

#new_post .btn {
	display: flex;
	align-self: flex-end;
	font-size: 1.3rem;
	color: var(--color-scheme-three);
    background-color: var(--color-scheme-one);
    border: 2px solid black;
    padding: 0.5rem;
    box-shadow: 0px 2px 0px #000;
    border-radius: 10px;
    transition: box-shadow 0.3s, transform 0.3s;
}

#new_post .btn:hover {
	cursor: pointer;
    box-shadow: none;
    transform: translateY(3px);
}
